@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

$textColor: #3f3f3f;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

body {
    height: 700px;
    margin: 0;

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        p {
            font-weight: 300;
            font-size: 0.95em;
            padding: 10px;
        }

        div {
            margin: 20px;
            width: 100%;
            display: flex;
            justify-content: center;

            span {
                max-height: 500px;
            }
        }
    }
}